doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
.container
  form(action='')
    label(for='')
    input(type='text')
    input(type='submit', value='Buscar')