doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/public/style.css")
  title Home
.container
  form(action="/film"  method="post") 
    fieldset 
        h2 Buscador de películas
        label(for='') Título 
        input(type='text' name="titulo")
        input(type='submit' value='Buscar')